<!DOCTYPE html>
<html lang="en">
<head>
    <img alt="Great Indian Festival" src="https://m.media-amazon.com/images/I/71-IOjbm--L._SX3000_.jpg" class="_cropped-image-link_style_fluidLandscapeImage__3eTVC _cropped-image-link_style_fluidImage__iJ3aE" data-a-hires="https://m.media-amazon.com/images/I/71-IOjbm--L._SX3000_.jpg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>hello ,<%= name %></h4>
</body>
</html>